
Data/.DS_Store
Data/yellow_tripdata_2019-01.csv
Data/yellow_tripdata_2019-02.csv
Data/yellow_tripdata_2019-03.csv
Data/yellow_tripdata_2019-04.csv
Data/yellow_tripdata_2019-05.csv
Data/yellow_tripdata_2019-06.csv
